body{
   height: 200vh;
}
.pr div{
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid lightgray;
    text-align: center;
    color: white;
    background: red;
    margin-bottom: 20px;
}

.pr .rel{
    position: relative;
    left: 10px;
    top: 20px;
    background-color: rgba(255, 0, 0, 0.295);
}

.pr .ss:active{
    position: relative;
    top: 200px;
    left: 10px;
}

.pr .ab{
    position: absolute;
    top: 30px;
    left: 350px;
}

.pr .abtm{
    position: absolute;
    bottom: 0;
    right: 0;

}

.pr2{
    border: 1px solid red;
    width:  100px;
    background-color: green;
    color: white;
}

.pr2 .ch2{
    background-color: rgba(0,0,255, 0.5);
}

.abs {
    position: absolute;
    top: 100px;
    left: 10px;
}

.rela{
    position: relative;
}

.fx{
    border: 1px solid red;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.sticky{
    position: sticky;
    top: 20px;
}

.z1{
    background-color: hotpink;
    top: 5px;
    left: 20px;
    height: 50px;
    z-index: 2;
}

.z2{
    background-color: yellow;
    top: -10px;
    left: -10px;
    height: 50px;
    z-index: 1;
}

.z3{
    background-color: blue;
    top: -75px;
    left: 50px;
    height: 50px;
    z-index: 99;
}

.zi {margin: 100px;}

.rela:hover{
    z-index: 999;
    box-shadow: 0 0 10px 10px lightcoral;
    top: -5px;
}