.menu{
    border: 1px solid red;
    text-align: center;
}

.menu .room{
    border: 1px solid blue;
    display: inline-block;
    width: 300px;
    height: 500px;
    vertical-align: top;

    font-size: 20px;
    margin: 0 20px;

}

.menu .r1{
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/34.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}

.menu .r2{
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/modern-studio-apartment-design-with-bedroom-living-space_1262-12375.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}

.menu .r3{
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
}

.menu .des{
    text-align: center;
    margin: 0 10px;
}