body{
    background-color: #d9dae0;
}

.intro{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    margin: 50px 0 30px 0;
}

.menu{
    text-align: center;
}

.menu .room{
    display: inline-block;
    width: 350px;
    height: 450px;
    vertical-align: top;

    font-size: 20px;
    margin: 0 20px;
    background-color: white;
}

.menu .r1{
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/34.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 260px;
}

.menu .r2{
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/modern-studio-apartment-design-with-bedroom-living-space_1262-12375.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 260px;
}

.menu .r3{
    background-image: url(https://assets.nicepagecdn.com/d2cc3eaa/88834/images/4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 260px;
}

.menu .des{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    }

.menu .cost{
    margin-top: 16px;
    margin-bottom: 16px;
    color: red;
}

.menu .view{
    font-size: 20px;
    border-bottom: 1px solid red;
}

.end{
    text-align: center;
    margin: 20px;
}

.end .fr{
    border-bottom: 1px solid black;
}