body{
    text-align: center;
}

.p1{
    display: inline-block;
    width: 500px;
    vertical-align: top;
    margin: 0 35px;
    text-align: left;
}

.p1 .i1{
    width: 480px;
    height: 590px;
}

.p1 .title{
    font-weight: 1000;
    color: rgb(56, 56, 56);
    font-size: 50px;
    margin: 15px 0;
}

.p1 .des{
    line-height: 2em;
}

.p2{
    display: inline-block;
    width: 550px;
    text-align: left;
}

.p2 .i2{
    width: 250px;
    height: 380px;
    margin: 0 30px 30px 0;
}

.p2 .i3{
    width: 250px;
    height: 300px;
    margin-bottom: 30px;
}

.p2 .i4{
    width: 480px;
    height: 440px;
}